nav {
    position: absolute;
    top: 0;
    z-index: 100;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 3%;
}


.logo {
    width: fit-content;
    display: flex;
}

.logoImg {
    width: 23px;
}

.logo>p {
    font-size: 1.1em;
    font-weight: 500;
    margin-left: 3px;
    margin-top: 2px;
}

.toggleButton {
    width: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 14px;
    justify-content: space-between;
    cursor: pointer;
}

.toggleBarTop,
.toggleBarBottom,
.toggleBarMid {
    background-color: white;
    height: 2.5px;
    transition: all 0.3s;
}

.toggleBarMid {
    width: 80%;
}

#checkbox {
    display: none;
}

#checkbox:checked+label>.toggleBarTop {
    transform: rotate(45deg) translate(8px, 8px);
}

#checkbox:checked+label>.toggleBarMid {
    display: none;
}

#checkbox:checked+label>.toggleBarBottom {
    transform: rotate(-45deg);
}


.nav-items {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: space-around;
    color: white;
    top: 50px;
    left: 0;
    transform: scale(0);
    transition: all 0.5s;
}


.nav-items>a>div {
    padding-top: 2px;
    height: 2px;
    width: 0;
    background-color: #f39292;
    transition: all 0.3s;
    margin: auto;
}

.nav-items>a:hover>div {
    width: 100%;
}

.nav-items>a:active>div {
    width: 100%;
}

#checkbox:checked+label+.nav-items {
    transform: scale(1);
}

/* Animation for scale effect */
@keyframes scale {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }

}

img {
    width: 100%;
}