.howToPlay {
    background-color: #121111;
    width: 100%;
    margin: 8% 0;
    text-align: center;
    padding-top: 6%;
    padding-bottom: 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.howToPlay>.pokerIconHead {
    margin-bottom: 1%;
}

.howToPlay>.pokerIconHead>h1 {
    font-size: 1.8em;
    margin-left: 10px;
    font-weight: 400;
}

.howToPlay>p {
    width: 57%;
    font-weight: 300;
}

.playCardCont {
    margin: 5% 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.playCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-right: 2.5%;
    margin-left: 2.5%;
}

.playCardImg {
    width: 162px;
    border: 1px solid white;
    padding: 34px 59px;
    border-radius: 10px;
}

.playCard>p {
    margin-top: 15px;
    font-weight: 300;
    -webkit-text-stroke: 0.1px;
}

.howToPlay>.fillButton {
    margin: 0;
}

.fillButton {
    margin-top: 7%;
    background-color: bf3d41;
    width: fit-content;
    padding: 15px 38px;
    border-radius: 43px;
    font-size: 0.8em;
    -webkit-text-stroke: 0.1px;
    font-weight: 300;
    transition: all 0.2s;
}

.fillButton:hover {
    cursor: pointer;
    box-shadow: #ff7171 2px 2px 5px 3px inset, black 2px 2px 8px -4px;
}