.howToPlay {
    background-color: #121111;
    width: 100%;
    margin: 8% 0;
    text-align: center;
    padding-top: 6%;
    padding-bottom: 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.howToPlay>.pokerIconHead {
    margin-bottom: 1%;
}

.howToPlay>.pokerIconHead>h1 {
    font-size: 1.8em;
    margin-left: 10px;
    font-weight: 400;
}

.howToPlay>p {
    width: 57%;
    font-weight: 300;
}

.playCardCont {
    margin: 5% 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.playCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-right: 2.5%;
    margin-left: 2.5%;
}

.playCardImg {
    width: 162px;
   
    padding: 34px 59px;
    border-radius: 10px;
}

.playCard>p {
    margin-top: 15px;
    font-weight: 300;
    -webkit-text-stroke: 0.1px;
}

.howToPlay>.fillButton {
    margin: 0;
}

.fillButton {
    margin-top: 7%;
    background-color: bf3d41;
    width: fit-content;
    padding: 15px 38px;
    border-radius: 43px;
    font-size: 0.8em;
    -webkit-text-stroke: 0.1px;
    font-weight: 300;
    transition: all 0.2s;
}

.fillButton:hover {
    cursor: pointer;
    box-shadow: #ff7171 2px 2px 5px 3px inset, black 2px 2px 8px -4px;
}

a:hover{
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4;
                
                
                
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}

a{
    position: relative;
    display: inline-block;
    
    margin: 40px 0;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    
    overflow: hidden;
    margin-right: 50px;
   
}



a span:nth-child(1){
    animation: animate1 1s linear infinite;
}
a span:nth-child(2){
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}
a span:nth-child(3){
    animation: animate3 1s linear infinite;
    animation-delay: 0.50s;
}
a span:nth-child(4){
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}

a span{
    position: absolute;
    display: block;
}
a span:nth-child(1){
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#03e9f4);
}
@keyframes animate1{
    0%{
        left: -100%;
    }
    50%,100%{
        left: 100%;
    }
}
a span:nth-child(2){
    top: -100%;
    right: 0;
    width: 1px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#03e9f4);
    animation-delay: 0.25s;
}
@keyframes animate2{
    0%{
        top: -100%;
    }
    50%,100%{
        top: 100%;
    }
}
a span:nth-child(3){
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#03e9f4);
    animation-delay: 0.50s;
}
@keyframes animate3{
    0%{
        right: -100%;
    }
    50%,100%{
        right: 100%;
    }
}


a span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 1px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#03e9f4);
    animation-delay: 0.75s;
}
@keyframes animate4{
    0%{
        bottom: -100%;
    }
    50%,100%{
        bottom: 100%;
    }
}

.top:hover {
    transform: translateY(-20px);
    
    
}



.top {
    
    transition: transform 0.3s ease;
}

.playCardImg:hover {
    border: 1px solid #03e9f4;
    
}

.playCardImg p {
    margin-top: 15px;
    font-weight: 300;
    -webkit-text-stroke: 0.1px;
}

img {
    width: 100%;
}